.image-side {
    width: 100%;
    position: relative;
}

.desktop-img {
    overflow: hidden;
    position: relative;
}

.desktop-illust {
    display: flex;
    align-items: center;
    position: relative;
    left: -7rem;
    width: 100%;
}

.mobile-img {
    display: none;
}

@media screen and (max-width: 991px) {

    .desktop-img, .desktop-illust, .box-illust {
        display: none;
    }

    .image-side {
        width: 70%;
    }

    .mobile-img {
        display: block;
        width: 100%;
        margin: 0 auto;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -60%);
    }

}