.image-side {
    width: 100%;
    position: relative;
}

.desktop-img {
    overflow: hidden;
    position: relative;
}

.desktop-illust {
    display: flex;
    align-items: center;
    position: relative;
    left: -7rem;
    width: 100%;
}

.mobile-img {
    display: none;
}

// @media screen and (max-width: 1024px) {
//     .desktop-img, .desktop-illust, .box-illust {
//                 display: none;
//                 position: static;
//             }
// }

// @media screen and (max-width: 900px) {

//     .desktop-img, .desktop-illust, .box-illust {
//         display: none;
//         position: static;
//     }

//     .image-side {
//         width: 100%;
//     }

//     .mobile-img {
//         display: block;
//         width: 70%;
//         margin: 0 auto;
//         position: absolute;
//         left: 50%;
//         top: 50%;
//         transform: translate(-50%, -60%);
//     }

// }